*{
    padding: 0;
    margin: 0;
}
body{
    overflow: none;
    
    background: url("https://i.ibb.co/m6jmCgP/images.jpg");
    background-repeat: ;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
footer{
    justify-content: center;
align-items: center;
    display: flex;
box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    
}
.foot{
    box-shadow: 0 4px 8px rgba(0,0,0.05);
    border-radius: 5px;
        
    height: 30px;
    width: 100%;
    background-color: aqua;
justify-content: center;
align-items: center;
    display: flex;
position: fixed;
bottom: 0px;
}


.side{
    
    padding: 5px;
    width: 98.5%;
    background-color: #ac18c9;
    box-shadow: 10px 10px 5px 0px rgba(32,88,141,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(32,88,141,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(32,88,141,0.75);
}
.cato{
    border-color: #ac18c9;
    margin: 5px;
    padding: 2px;
    background-color:#741687;
    color: white;
}
.ap{
    height: 100vh;
    width: 100%;
   background-color: #c405eb;
}
.asap{
    margin: 10px;
    padding: 20px;
}
.btn{
    border-color: aqua;
     border-radius: 5px;
        opacity:1;
    padding: 1px;
}
.btnn{
    
        opacity:100;
    padding: 2px;
    bottom: 50px;
}
.btnm{
    padding: 2px;
}
.mu{
    width: 100%;
    height: 100vh;
        justify-content: center;
align-items: center;
    display: none;
}
.menu{
    display: flex;
    box-shadow: 0 2px 8px rgba(1,1,1,0.9);
border-radius: 10px;
    /* opacity: 0.7; */
    justify-content: center;
align-items: center;
    display: flex;
position: fixed;
bottom: 40px;
padding:10px 10px 190px 10px;
background-color: lightblue;
}
.head{ 
    
    background-color: white;
    top: 0px;
    justify-content: right;
text-align: left;
    display: flex;
}

.file{
    background-color: aqua;
    height: 80vh;
    width: 100%;

}
.main{
    left: 0px;

   display: none; 
    resize: both;
    height: 100vh;
    position: absolute;
    width: 100%;
    overflow: hidden;
    position: absolute;

}
.moin{
    height: 60vh;
    width: 80%;
    resize: both;
    overflow: hidden;
     left: 0px;

    display:none;
    /* Visibility:visible; */
}


.mbin{
    left: 0px;

left: 0px;
    height: 60vh;
    width: 80%;
    resize: both;
    overflow: hidden;
     top: 0px;
resize: both;
    overflow: hidden;
    display:block;
    position: absolute;
    /* Visibility:visible; */
}

.mcin{
    left: 0px;

    height: 87vh;
   max-width: 200px;
    resize: both;
    overflow: hidden;
     top: 0px;
resize: both;
    overflow: hidden;
    position: absolute;
      display:none;

    /* Visibility:visible; */
}

.mdin{
   display: none;
   position: absolute;
}

.mein{
   display: none;
   position: absolute;
}


.min{
    background-color:white;
    left: 0px;
    padding: 3px;
    
    margin: 1px;
    
}
.max{
        background-color:white;
/* position: fixed; */
    left: 0px;
    opacity: 1;
    padding: 3px;
    margin: 1px;
    
}
.close{
        background-color:white;
    padding: 3px;
opacity: 1;
/* position: fixed; */
    right: 0px;
        margin: 1px;
}
.bro{
    top: 10px;
     height: 80vh;
     width: 100%;
}
.wrt{
    /* top: 10px; */
     height: 50vh;
     width: 100%;
    
     padding: 5px;
}
.tittle{
    position: absolute;
    left: 0px;
    opacity: 1;
}
.jg{
    display: none;
}
.fill{
        width: 100%;
    justify-content: center;
align-items: center;
    display: flex;
}
.fg{   
        position: absolute;

   /* transform: translate(-50% ,-50%);*/
    
    width: 100%;
    justify-content: center;
align-items: center;
    display: flex;
    position: absolute;
}



.gh{   
   /* transform: translate(-50% ,-50%);*/
    height: 100vh;
    width: 100%;
    justify-content: center;
align-items: center;
    display: flex;
    top: 0px;
position: absolute;
        display:none;
}

.mg{

    position: absolute;
}


.fie{
    padding: 40px;
    margin: 10px;
}
.img{
    padding: 40px;
    margin: 10px;
}
.mp4{
    padding: 40px;
    margin: 10px;
}
.imfi{
    height: 20px;
}






.container {
  position: relative;
  max-width: 200px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.display {
  height: 20px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 5px;
  border-radius: 6px;
  border: none;
  font-size: 10px;
  cursor: pointer;
  background-color: #eee;
}
.buttons button:active {
  transform: scale(0.99);
}
.operator {
  color: #2f9fff;
}









/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


::selection{ 
  color:blue;
  background: #618cf8;
}
.wrapper{
   display: none;
  margin: 50px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li{
  height: 250px;
  list-style: none;
  border-radius: 5px;
  padding: 15px 20px 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.add-box, .icon, .bottom-content, 
.popup, header, .settings .menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-box{
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}
.add-box .icon{
  height: 78px;
  width: 78px;
  color: blue;
  font-size: 40px;
  border-radius: 50%;
  justify-content: center;
  border: 2px dashed #88ABFF;
}
.add-box p{
  color: blue;
  font-weight: 500;
  margin-top: 20px;
}
.note{background-color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note .details{
  max-height: 165px;
  overflow-y: auto;
}
.note .details::-webkit-scrollbar,
.popup textarea::-webkit-scrollbar{
  width: 0;
}
.note .details:hover::-webkit-scrollbar,
.popup textarea:hover::-webkit-scrollbar{
  width: 5px;
}
.note .details:hover::-webkit-scrollbar-track,
.popup textarea:hover::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.note .details:hover::-webkit-scrollbar-thumb,
.popup textarea:hover::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}
.note p{
  font-size: 22px;
  font-weight: 500;
}
.note span{
  display: block;
  color: #575757;
  font-size: 16px;
  margin-top: 5px;
}
.note .bottom-content{
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.bottom-content span{
  color: #6D6D6D;
  font-size: 14px;
}
.bottom-content .settings{
  position: relative;
}
.bottom-content .settings i{
  color: #6D6D6D;
  cursor: pointer;
  font-size: 15px;
}
.settings .menu{
  z-index: 1;
  bottom: 0;
  right: -5px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}
.settings.show .menu{
  transform: scale(1);
}
.settings .menu li{
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  justify-content: flex-start;
}
.menu li:last-child{
  margin-bottom: 0;
}
.menu li:hover{
  background: #f5f5f5;
}
.menu li i{
  padding-right: 8px;
}

.popup-box{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
}
.popup-box .popup{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.95);
}
.popup-box, .popup{
  
  pointer-events: none;
  transition: all 0.25s ease;
}
.popup-box.show, .popup-box.show .popup{
  opacity: 1;
  pointer-events: auto;
}
.popup-box.show .popup{
  transform: translate(-50%, -50%) scale(1);
}
.popup .content{
  border-radius: 5px;
  background: #fff;
  width: calc(100% - 15px);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.content header{
  padding: 15px 25px;
  border-bottom: 1px solid #ccc;
}
.content header p{
  font-size: 20px;
  font-weight: 500;
}
.content header i{
  color: #8b8989;
  cursor: pointer;
  font-size: 23px;
}
.content form{
  margin: 15px 25px 35px;
}
.content form .row{
  margin-bottom: 20px;
}
form .row label{
  font-size: 18px;
  display: block;
  margin-bottom: 6px;
}
form :where(input, textarea){
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #999;
}
form :where(input, textarea):focus{
  box-shadow: 0 2px 4px rgba(0,0,0,0.11);
}
form .row textarea{
  height: 80px;
  resize: none;
  padding: 8px 15px;
}
form button{
  width: 100%;
  height: 50px;
  color: blue;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
  border-radius: 4px;
  background: #6A93F8;
}

@media (max-width: 660px){
  .wrapper{
    margin: 15px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .popup-box .popup{
    max-width: calc(100% - 15px);
  }
  .bottom-content .settings i{
    font-size: 17px;
  }
}













@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

html {
  height: 100%;
  background: #0f172a;
}

#container {
  height: 450px;
  width: 550px;
  background-color: #1e293b;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 0px 0px #1e293b;
  position: relative;
  font-family: "Roboto", sans-serif;
}

#score {
  color: white;
  position: absolute;
  right: 10px;
}

#correct {
  position: absolute;
  left: 250px;
  background-color: #42e252;
  color: white;
  padding: 5px 12px;
  display: none;
}

#wrong {
  position: absolute;
  left: 250px;
  background-color: #de401a;
  color: white;
  padding: 5px 12px;
  display: none;
}

#question {
  width: 450px;
  height: 150px;
  margin: 50px auto 10px auto;
  background-color: #334155;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#instruction {
  width: 450px;
  height: 50px;
  margin: 10px auto;
  text-align: center;
  line-height: 45px;
  color: white;
}

#choices {
  width: 450px;
  height: 100px;
  margin: 5px auto;
}

.box {
  margin-right: 36px;
  width: 85px;
  height: 85px;
  background-color: white;
  float: left;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 4px black;
  text-align: center;
  line-height: 80px;
  position: relative;
  transition: all 0.2s;
}

.box:hover,
#startreset:hoover {
  background-color: #9c89f6;
  color: white;
  box-shadow: 0px 4px #6b54d3;
}

.box:active,
#startreset:active {
  box-shadow: 0px 0px #6b54d3;
  top: 4px;
}

#box4 {
  margin-right: 0;
}

#startreset {
  width: 150px;
  padding: 10px;
  background-color: lawngreen;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s;
}

#timeremaining {
  color: red;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  display: none;
}

#gameOver {
  height: 200px;
  width: 500px;
  background: black;
  color: white;
  font-size: 2.3em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 100px;
  left: 45px;
  z-index: 2;
  display: none;
}